.image{
    width:300px;
    display: flex;
    margin: auto;
}
.box{
    width: 35%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 80px 60px 80px 60px;
    margin-bottom: 50px;
    margin-top: 80px;;
}
.down{
    display: flex;
    justify-content: space-between;
}