.logo{
width: 200px;
}
.top{
display: flex;
}
.top1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    }
.right{
display: flex;
align-items: center;

}
.nav{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 18px;
    padding-right: 12px;
    padding-left: 12px;
    
}

.nav:hover{
    color: orangered;
}
.login{
    padding:8px 30px 8px 30px;
    border: 1px solid orangered;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 15%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: 400;
    text-align: center;
    color:orangered;
    margin-bottom: 60px;
    margin-top: 60px;
}

